@import "styles/colors.pcss";

.root {
  background: var(--violet);
  padding: 10px 0;
  color: var(--white);
  & p {
    font-size: 14px;
    line-height: 24px;
    color: var(--white);
    text-align: center;
  }

}