:global {
  @import "./reset.pcss";
  //@import "../../common/styles/config/gothan.pcss";
}

:global * {
  box-sizing: border-box;
}

body {
  line-height: 1;
  //font-family: 'gotham', Arial, sans-serif;
  font-weight: 400;
}
